.imagepay {
    text-align: center; /* Center the image horizontally */
    padding: 30px;
  }
  
  .imagepay img {
    max-width: 300px; /* Set maximum width */
    max-height: 300px; /* Set maximum height */
    width: auto; /* Ensure aspect ratio is maintained */
    height: auto; /* Ensure aspect ratio is maintained */
    display: block; /* Ensure proper display */
    margin: 0 auto; /* Center the image horizontally */
  }
  .link-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Add space between image and link */
  }
  .link-container h4 {
    color: black;
  }
  